@font-face {
    font-family: "gagalin";
    src: url('Gagalin-Regular.ttf');
}
body{
    background-color: #c3e0fe;
}
*{
    text-decoration: none;
    margin: 0px;
    padding: 0px;
    font-family: "gagalin";
}
.title{
    font-family: gagalin;
}
.navbar{
    font-family: gagalin;
    font-size: large;
}
.header{
    background-image: url("bg_blur.jpg");
}
.header img{
    width: 100%;
    margin-left: 0;
    padding-left: 0;
}
.top{
    background-color: white;
    text-align: center;
    padding: 50px;
}
.rounded-circle{
    background-color: #c3e0fe;
}
.contact{
    text-transform:capitalize;
    font-family: gagalin;
    font-size: 30px;
    /* border: solid #c3e0fe ;
    padding: 10px;
    border-radius: 5px;
    font-weight: bold;
    background-color: #c3e0fe; */
}
/* .membership{
    text-transform: uppercase;
}
.partner{
    text-transform: uppercase;
}
.grafologi{
    text-transform: uppercase;
} */
.contact p{
    border: solid;
    background-color: #c3e0fe;
    border-radius: 10px;
    border-color: #c3e0fe;
    padding: 15px;
    margin: auto;
    text-align: center;
}
.contact p{
    margin-top: 25px;
    color: black;
    padding: 10px;
    border-radius: 5px;
    /* font-weight: bold; */
}
.contact a{
    color: #fff;
}
.contact a:link{
    color: #fff;
    text-decoration: none;
    display: inline-block;
}
.contact :hover{
    color: black;
    font-family: gagalin;
}
.footer{
    width: 100%;
    position: relative;
    display: flex;
    flex-wrap: wrap;
    margin: auto;
    background-color: whitesmoke;
}
.footer-section{
    width: 20%;
    margin: 0 auto;
}
.footer-section a{
    color: #000;
}
.footer p{
    font-family: 'Times New Roman', Times, serif;
    background-color: whitesmoke;
    border-color: whitesmoke;
    /* text-align: justify; */
}
h4{
    font-family: gagalin;
}
.copyright{
    font-family: gagalin;
}
.footer a{
    color: #000;
}
.footer a:link{
    color: #000;
    text-decoration: none;
    display: inline-block;
}
.footer a:hover{
    color: #c3e0fe;
}
.footer li:hover{
    color: #c3e0fe;
}