@font-face {
    font-family: "gagalin";
    src: url('Gagalin-Regular.ttf');
}
*{
    text-decoration: none;
    margin: 0px;
    padding: 0px;
    font-family: "gagalin";
}
body{
    background-color: #cfe4fa;
}
.navbar{
    font-family: "gagalin";
    font-size: large;
}
.title{
    font-family: "gagalin";
}
.navbar-toggler{
    text-align: right;
}
.header{
    background-image: url("bg_blur.jpg");
}
.header img{
    width: 100%;
    margin-left: 0;
    padding-left: 0;
}
.container h2{
    font-family: "gagalin";
    color: #000;
}
.container h3{
    font-family: "gagalin";
}
.container h4{
    text-align: center;
}
h2{
    text-align: center;
    font-family: gagalin;
}
p{
    text-align: justify;
    font-family: 'Times New Roman';
}
.title{
    text-align: left;
    font-weight: bold;
    font-family: "gagalin";
}
.expert{
    background-color: #c3e0fe;
    border-radius: 10px;
    margin-top: 4%;
    position: center;
}
.lingkaran i{
    position: relative;
    top: 30px;
}
.crop-img{
    object-fit: cover;
}
.expert img{
    width: 50%;
    margin-top: 15px;
}
.expert{
    border-radius: 10px;
    margin-top: 4%;
    /* margin-right: 50px; */
    margin-bottom: 70px; 
    padding: 30px; 
}
.expert h1{
    padding: 50px;
}
ul li{
    text-align: justify;
}
.helper{
    background-color: #c3e0fe;
    border-radius: 10px;
    margin-top: 4%;
    margin-right: 50px;
    margin-bottom: 70px; 
    padding: 30px; 
}
.helper p{
    text-align: center;
}
.helper img{
    width: 65%;
    margin-top: 15px;
}
.hubungi{
    background-color: #c3e0fe;
    float: center;
    padding-bottom: 20px;
    position: relative;
}
.hubungi p{
    text-align: center;
    font-size:large;
}
.hubungi h2{
    text-align: center;
    padding-top: 50px;
    line-height: 30px;
    padding-bottom: 50px;
    padding-top: 50px;
    font-family: gagalin;
}
.hubungi a{
    border: solid #091353 ;
    padding: 10px;
    border-radius: 5px;
    font-size: large;
    font-weight: bold;
    background-color: #091353;
}
.hubungi a{
    color: #fff;
    font-family: 'Times New Roman', Times, serif;
}
.hubungi a:hover{
    background-color: #000;
    color: #fff;
    border: solid black ;
}
.hubungi a:link{
    text-decoration: none;
    display: inline-block;
    color: #fff;
}
#contact {
    background-color: #aaa;
    padding-top: 50px;
    color: #000;
}

h4{
    font-weight: 800;
    font-size: 30px;
    margin-bottom: 30px;
    width: 100%;
    line-height: 50px;
    font-family: gagalin;
}
h1{
    font-family: gagalin;
}
.hubungin{
    background-color: #c3e0fe;
    margin: 0;
}
.row .hubungin{
    background-color: #c3e0fe;
}
.rw img{
    width: 55%;
}
.tf img{
    width: 80%;
}
.an img{
    width: 50%;
}
.cs img{
    width: 50%;
}
.ek img{
    width: 60%;
}
.pa img{
    width: 73%;
}
.rp img{
    width: 80%;
}
ul li{
    font-family: gagalin;
}
.cn img{
    width: 60%;
}
.rn img{
    width: 55%;
}
.ss img{
    width: 60%;
}
.copyright{
    font-family: gagalin;
}
.lirik p{
    text-align: center;
}
/* .footer{
    background-color: rgb(241, 240, 240);
} */
.footer a{
    color: #000;
}
.footer a:link{
    color: #000;
    text-decoration: none;
    display: inline-block;
}
.footer a:hover{
    color: #c3e0fe;
}
.footer li:hover{
    color: #c3e0fe;
}
/* .layanan img{
    float: center;
    width: 30%;
    width: 50%;
} */
.perkenalan img{
    width: 100%;
    float: center;
    margin: auto;
}
.liputan{
    margin-left: 10%;
}
.copyright a{
    display: inline-block;
    text-decoration: none;
    color: #000;
}
.copyright :hover{
    color: #091353;
}